body {
    margin: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/epak.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

nav {
    background-color: black;
    overflow: hidden;
    height: 80px;
    line-height: 80px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 50px;
}

nav li {
    float: left;
    margin-left: 40px;
}
nav li:first-child{
    margin-left: 0; 
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: black;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-grow: 1;
}

.service-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    width: 90%;
    max-width: 1200px;
    margin-top: -50px; 
}

.service-box {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 8px;
    padding: 30px; 
    text-align: center;
    flex: 1; 
    margin: 30px; 
    min-width: 200px; 
    min-height: 250px; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    position: relative; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.service-box:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4); 
}

.service-box h2 {
    color: white;
    margin-bottom: 15px;
    margin-top: 40px; 
}

.service-box p {
    color: white;
    line-height: 1.6;
}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    position: absolute; 
    top: -30px; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    padding: 24px 0; 
}

footer p {
    font-size: 13px; 
    margin: 0;
}